extends  ../shared/layout

block main-content
    .row
        .col-md-12
            .panel.panel-primary
                .panel-heading
                    h3.panel-title.text-center Tablets
    .row
        .col-md-2.col-md-offset-10
            a(href="/tablets/add" class="btn btn-primary") Add Tablet
    br
    if (data.tablets.length === 0)
        .row
            h3.text-center No Available Tablets
    else
        .row
            each item in data.tablets
                .col-md-4
                    .panel.panel-info
                        .panel-heading.text-center
                            a(href="/tablets/details/" + item.id)= item.manufacturer + ' ' + item.model
                        .panel-body.text-center
                            div= item.price
                                span $
        .row
            ul.list-unstyled.list-inline.text-center
                - for(var i = 1; i <= Math.ceil(data.total / data.pageSize); i++)
                    li
                        a.btn.btn-lf.btn-primary(href="/tablets?page=#{i}&pageSize=#{data.pageSize}") #{i}




